name: Playwright BDD CI with Allure

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Install Playwright
      run: pwsh bin/Debug/net8.0/playwright.ps1 install

    - name: Run Tests
      run: dotnet test --no-build

    - name: Debug Allure Results
      run: |
        dir bin/Debug/net8.0
        dir bin/Debug/net8.0/allure-results

    - name: Install Allure CLI
      shell: pwsh
      run: |
        $version = "2.27.0"
        $url = "https://github.com/allure-framework/allure2/releases/download/$version/allure-$version.zip"
        Invoke-WebRequest -Uri $url -OutFile "allure.zip"
        Expand-Archive allure.zip -DestinationPath .
        $allurePath = (Get-ChildItem -Directory | Where-Object { $_.Name -like "allure-*" }).FullName + "\bin"
        echo $allurePath | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

    - name: Generate Report
      run: allure generate bin/Debug/net8.0/allure-results --clean -o allure-report

    - name: Upload Report
      uses: actions/upload-artifact@v4
      with:
        name: Allure-Report
        path: allure-report/
